In [5]:
import pandas as pd
import numpy as np

# Sabit rastgelelik için
np.random.seed(42)

# Sanal veri seti özellikleri
num_samples = 500
age = np.random.randint(20, 80, num_samples)
bmi = np.random.uniform(18.5, 35, num_samples)
blood_pressure = np.random.randint(60, 140, num_samples)
glucose = np.random.randint(70, 200, num_samples)

# Diabet durumu (basit bir mantık ekleniyor)
diabetes = (glucose > 130) & (bmi > 25)
5
# DataFrame oluşturma
data = pd.DataFrame({
    "Age": age,
    "BMI": bmi,
    "BloodPressure": blood_pressure,
    "Glucose": glucose,
    "Diabetes": diabetes.astype(int)  # 0 veya 1
})

# CSV dosyasına kaydet
data.to_csv("veri.csv", index=False)
data.head()

   Age        BMI  BloodPressure  Glucose  Diabetes
0   58  26.937150             88      143         1
1   71  26.775019             67      132         1
2   48  31.671870             64      129         0
3   34  29.224405             88      148         1
4   62  30.082453            106      106         0